{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:form action="list" method="post" class="form">
	<div class="form-group">
		<label class="control-label col-md-12">
			<v:l>text.tags</v:l>
		</label>
		<v:form.select name="tag" class="form-control">
			<v:form.select.option value=""></v:form.select.option>
			<f:for each="{tags}" as="tag">
				<v:form.select.option value="{tag.uid}" selected="{f:if(condition: '{tag.uid} == {submission.tags.0}', then: 'selected')}">
					{tag.name}
				</v:form.select.option>
			</f:for>
		</v:form.select>
	</div>
	<div class="form-group">
		<label class="control-label col-md-12">
			<v:l>text.extensions</v:l>
		</label>
		<v:form.select name="extension" class="form-control">
			<v:form.select.option value=""></v:form.select.option>
			<f:for each="{extensions}" as="extension">
				<v:form.select.option value="{extension.uid}" selected="{f:if(condition: '{extension.uid} == {submission.extensions.0}', then: 'selected')}">
					{extension.extensionName}
				</v:form.select.option>
			</f:for>
		</v:form.select>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary btn-huge btn-block">
			<v:l>text.filter</v:l>
		</button>
	</div>
</f:form>